.form_login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ffffff;
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.input:focus,
textarea:focus,
select:focus,
button:focus {
  font-size: 16px;
  outline: none;
}

@media only screen and (min-width: 600px) {
  .form_login {
    width: 400px;
  }
}

.form_title {
  color: #333;
  display: flex;
  text-align: center;
}

.flex_column>label {
  color: #151717;
  font-weight: 600;
}

.inputForm {
  border: 1.5px solid #b1afaf;
  border-radius: 10px;
  max-height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
}

.input {
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 80%;
  height: 40px;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.flex_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex_row>div>label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.button_submit {
  margin: 20px 0 10px 0;
  background-color: #cecece;
  border: none;
  color: black;
  font-size: 15px;
  font-weight: bold;
  border-width: 2px;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.button_submit:hover {
  color: black;
}

.title_login {
  color: black;
  font-weight: 500;
  font-size: 20px;
  width: 100%;
  text-align: center;
}