[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
websockets = "*"
python-multipart = "*"
pymongo = "*"
pendulum = "*"
argon2-cffi = "*"
aiohttp = "*"
PyJWT = "*"
[dev-packages]

[requires]
python_version = "3.10"